.bg-custom {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 16%;
  transition: background-size 0.3s ease;
}

@media (max-width: 1440px) {
  .bg-custom {
    background-size: calc(100% + (1440px - 80vw) * 1.2);
  }
}

@media (min-width: 1441px) {
  .bg-custom {
    background-size: 140vw;
  }
}